.refyne-card {
    width: 100%;
}

.benefit-1-wrapper {
    width: 67%;
    margin: 0px auto;
}

.benefit-detail {
    padding-right: 150px;
}

.benefit-detail-left {
    padding-left: 150px;
}

.benefit-1-section {
    padding: 80px 0px;
}

@media only screen and (max-width: 768px) {
    .benefit-detail {
        padding-right: 0px;
    }
    .benefit-1-wrapper {
        width: 100%;
        padding: 20px;
    }
    .benefit-1-section {
        padding: 10px 0px;
    }

    .benefit-detail-left {
        padding-left: 0px;
    }
    
}