.ceo-speak-section {
    width: 100%;
    padding: 80px 160px 80px 100px;
}

.ceo-img-block img {
    width: 100%;
    border-radius: 10px;
}

.review {
    color: #204866;
    font-weight: 300;
    line-height: 20px;
    font-size: 1rem;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .ceo-speak-section {
        width: 100%;
        padding: 20px;
    }
    
}