.partner-img {
    width: 100%;
}

.refyne-partner {
    width: 100%;
    padding: 65px 160px 45px 100px;
}

.right-description-wrapper {
    padding-left: 130px;
}

@media only screen and (max-width: 768px) {
    .refyne-partner {
        padding: 30px 15px 45px 15px;
    }
    
    .right-description-wrapper {
        padding-left: 0px;
    }

    .partner-img {
        width: 70%;
    }
}
